<footer class="mt-5 py-5 bg-black text-light link-light">

<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/privacy-policy/">Privacy Policy</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="javascript: contact('mechobba', 'gmail.com')">Contact</a>
    </li>
</ul>

<div class="container">
    <div class="row pt-3">
        <div class="col text-center">
            <p style="font-size: 0.75rem;">Copyright &copy; 2024 Jeremy Caris. All Rights Reserved.</p>
        </div>
    </div>
</div>

</footer>

<script>function contact(user,domain=location.hostname){const template=atob('bWFpbHRvOiV1c2VyJUAlZG9tYWluJQ==');location.href=template.replace('%user%',user).replace('%domain%',domain);return false;}</script>