<footer class="mt-5 py-5 bg-black text-light link-light">

<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="/privacy-policy/">Privacy Policy</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" data-email="info[at]passgrinder[dot]com" target="_blank">Contact</a>
    </li>
</ul>

<div class="container">
    <div class="row pt-3">
        <div class="col text-center">
            <p style="font-size: 0.75rem;">Copyright &copy; <span id="spanYear">2024</span> Jeremy Caris. All Rights Reserved.</p>
        </div>
    </div>
</div>

</footer>