<nav class="navbar navbar-dark bg-transparent navbar-expand-md nav-underline">
    <div class="container">
        <a class="navbar-brand pt-4 me-0 border-0" href="../">
            <img
            src="/images/passgrinder-450.png"
            alt="Passgrinder.com Logo"
            width="300" height="112"
            />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <img
                src="/images/passgrinder-450.png"
                alt="Passgrinder.com Logo"
                width="150" height="56"
                />
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" href="../">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/info/">How It Works</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/download/">WordPress Plugin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/install/">NEW! Browser Extensions</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>