<!DOCTYPE html>
<html lang="en">
<head>
    <title>Wordpress Plugin | Free Password Generator: PassGrinder</title>
</head>
<body>
{{> partials/navbar}}
    
<div class="container">

<main class="my-4">

    <p class="text-center">You may download the WordPress plugin to host the PassGrinder form on your own website. Just install and activate it, and then insert the form in any page using this shortcode:</p>

    <pre class="text-center"><code>[passgrinder]</code></pre>

    <p class="text-center"><a class="btn btn-primary btn-lg" href="https://github.com/jeremycaris/passgrinder/releases/" target="_blank" rel="noopener noreferrer">Get the Latest Release</a></p>
    
</main>
</div>

{{> partials/footer}}
</body>
</html>