<!DOCTYPE html>
<html lang="en">
<head>
    <title>Browser Extensions | Free Password Generator: PassGrinder</title>
</head>
<body>
{{> partials/navbar}}
    
<div class="container">
<main class="my-5">

<p class="text-center">
    <a href="https://chrome.google.com/webstore/detail/passgrinder/ioabldfcejgnlamebpaokhbpgbhplpna/" target="_blank" rel="noreferrer noopener" class="text-decoration-none">
        <img width="64" height="64" src="/images/chrome-64.png" alt="Chrome Addons"><br />
        Chrome Browser Extension &nbsp;<i class="bi bi-box-arrow-up-right" aria-hidden="true"></i>
    </a>
</p>

<p class="text-center mt-5">
    <a href="https://addons.mozilla.org/en-US/firefox/addon/passgrinder/" target="_blank" rel="noreferrer noopener" class="text-decoration-none">
        <img width="64" height="64" src="/images/firefox-64.png" alt="Firefox Addons"><br />
        Firefox Browser Extension &nbsp;<i class="bi bi-box-arrow-up-right" aria-hidden="true"></i>
    </a>
</p>

</main>
</div>

{{> partials/footer}}
</body>
</html>