<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    {{> partials/gtag}}
</head>
<body>
{{> partials/navbar}}

<div class="container">
<main class="my-5">

    <p>This privacy notice for Jeremy Caris (“<strong>Company</strong>,” “<strong>we</strong>,” “<strong>us</strong>,” or “<strong>our</strong>“), describes how and why we might collect, store, use, and/or share (“<strong>process</strong>“) your information when you use our websites, browser extensions, apps, services (“<strong>Services</strong>“), such as when you:</p>

    <ul>
    <li>Visit our website at <a href="https://passgrinder.com/" target="_blank" rel="noreferrer noopener">https://passgrinder.com/</a> or use any Google Chrome extension of ours that links to this privacy notice,</li>
    <li>Download and use any of our mobile applications or any other applications of ours that links to this privacy notice,</li>
    <li>Engage with us in other related ways.</li>
    </ul>

    <p><strong>Summary</strong></p>

    <ul>
    <li>Although we may use browser cookies, server logs, and third-party services to process some personally identifiable information in order to facilitate or improve the usability of our Services, we do not share or sell that information. </li>
    <li>We may save contact information and any relevant data you may provide through direct contact in order to provide support for our Services, which we will delete by request.</li>
    </ul>

    <p>If you do not agree with our policies and practices, please do not use our Services. If you still have any questions or concerns, please <a href="#" data-email="info[at]passgrinder[dot]com" target="_blank">contact us</a>.</p>

    <p class="has-text-align-center">Last Updated: 28 Feb 2024</p>

</main>
</div>

{{> partials/footer}}
</body>
</html>